.flex {
    display: flex;
    flex-direction: row;
    &-jc-sb {
        justify-content: space-between;
    }
    &-jc-c {
        justify-content: center;
    }
    &-ai-c {
        align-items: center;
    }
    &-jc-end {
        justify-content: flex-end;
    }
}